/* Page-wide formatting */
* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Itim';
  background-color: aliceblue;
  margin: 30px;
}

a {
  text-decoration: underline;
}

p {
  margin-top: 1rem;
}

/* Header radio buttons */
#camp-intro {
  display: none;
}

#camp-toggle {
  display: none;
}

#camp-timing {
  display: none;
}

#your-instagram-input {
  display: none;
}

#camp-required {
  display: none;
}

.shape {
  text-align: center;
}

/* Canvas */
input[type="file"] {
  cursor: pointer;
}

.my-drawing {
  margin: auto;
}

.color-well label {
  margin-top: 7px;
  margin-bottom: 0px;
}

/* Form submission */
#recipient-phone-input {
  display: none;
}

#submit-container {
  text-align: center;
}

/* Div to display after submit button has been clicked */
#post-submit {
  display: none;
  background-color: #bff1a6;
  width: 100%;
  border: 3px solid #685f5b;
  margin: auto;
  text-align: center;
}

#confirm-camp {
  display: none;
}

.next {
  display: none;
}

#donation {
  display: none;
}

/* Radio display for images-as-radio-buttons */
.picradio { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.picradio + img {
  cursor: pointer;
}

.picradio:checked + img {
  outline: 2px solid #3fbab3;
}

/* Red asterisks for required fields */
.red {
  color: red;
}

/* Camp autofill input formatting */
.autocomplete-items {
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

/* Submit button */
#terms {
  text-align: center;
}

#form-submit {
  background-color: #3fbab3;
  border: none;
}

/* Contact form */
#instagram {
  max-width: 30%;
}

.modal-header {
  padding-bottom: 0px;
}

#contact {
  text-align: center;
}

#contact-button {
  background-color: #3fbab3;
  border: none;
}

#btnContactUs {
  background-color: #3fbab3;
}

.modal-content {
  background: rgba(255, 255, 255, .9);
}
