/* Page-wide formatting */
* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: 'Itim';
  background-color: aliceblue;
  margin: 30px;
}

a {
  text-decoration: underline;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Image container */
.image-container {
  text-align: center;
}

#submit-container {
  text-align: center;
}